html{
    background-color:grey;
    
}
form{
    background-color:white;
    
    border:3px solid black;
    width:25%;
    height:40%;
    padding:5%;
    margin:5% 35%;
    
}


input{
border-radius:5px;

}
input:hover{
    background-color:yellow;
}
button:hover{
    background-color:yellow;
}
button{
    margin: 0px 100px;
    background-color:#A0CED1;
    
}
#set{
margin: 0px 100px;
width:70px;
background-color:#A0CED1;
}
h1 {text-align: center;
}
